body {
    color: black;
    font-family: disco;
}

h1 {
    text-align: center;
    text-decoration: blanchedalmond;
}

h2 {
    text-align: center;
}

#starting_paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}

#input_course {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'disco';
    src: url(fonts/DISCO___.ttf);
    font-style: normal;
    font-weight: 100;
}